* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.samenavbar {
    width: 1286px;
    height: 80px;
    padding: 25px 40px;
    background-color: transparent;
    position: fixed;
    margin: auto;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: white;
}

.samenavbar .leftside .dropdown {
    margin-left: 20px;
    border: 2px;
}

.leftside .dropdown .btn {
    background-color: white;
    color: #009e7f;
    width: 150px;
    height: 38px;
    border: solid white;
}


/* .dropdown-menu .dropdown-item a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center
} */

.leftside .dropdown-menu {
    direction: column;
    /* justify-content: center; */
    z-index: 100;
}

.leftside .dropdown-menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    margin-top: 15px;
    margin-left: 15px;
}

.leftside .dropdown-menu a:hover {
    color: #009e7f;
}

.current-page1 {
    color: #009e7f;
}

.rightside {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.rightside span {
    margin-right: 15px;
}

.rightside a:hover {
    color: #009e7f
}

.rightside button {
    width: 66px;
    height: 38px;
    color: white;
    background-color: #009e7f;
    margin-bottom: 20px;
    border-bottom: 5px;
    border-color: gray;
}

.rightside button:hover {
    color: white;
}

.rightside .dropdown .btn {
    margin-right: 30px;
    width: auto;
    height: 38px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
    border-image: initial;
    border-radius: 6px;
    outline: 0px;
    color: #009e7f
}

.rightside .dropdown .dropdown-menu .dropdown-item {
    background-color: white;
    cursor: pointer;
}

.rightside a {
    text-decoration: none;
    color: black;
}

.rightside .dropdown-menu button {
    border-bottom: 3px;
    color: black;
}

.backimg span {
    padding-top: 10px;
}

.banner {
    align-items: center;
    margin-bottom: inherit;
}

.banner .col {
    justify-content: center;
    align-items: center;
}

.banner input {
    align-items: center;
    border: 0;
    border-radius: 0;
    background-color: white;
}

.banner form {
    margin-left: 500px;
}

.banner .form-control {
    width: 480px;
    height: 48px;
    background-color: white;
}

.banner .row {
    justify-content: center;
    margin-top: 50px;
}

.banner .row span {
    font-family: Lato, sans-serif;
    font-size: 13px;
    color: rgb(0, 158, 127);
    line-height: 38px;
    font-weight: 700;
    background-color: rgb(247, 247, 247);
    margin-left: 5px;
    white-space: nowrap;
    padding: 0px 15px;
    border-radius: 6px;
    border-color: white;
}

.banner .scndtext {
    margin-top: 20px;
}

.banner .buttonn {
    width: 150px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #009e7f;
    color: white;
    border: 0;
}

.backimg {
    background-image: url(grocery-f1565ac25de02b9295dccc2da13004ab.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    background-size: cover;
    overflow: hidden;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: -2;
}

.carousell {
    width: 1286px;
    height: 290px;
}

.carouselll {
    width: 1186px;
    height: 196px;
    align-items: center;
    margin-top: 50px;
}

.likeaslider img {
    width: 365px;
    height: 196px;
    padding: 0 15px;
}

.productstime {
    width: 100%;
    height: 1850px;
}

.prdctleft {
    width: 280px;
    height: 680px;
    background-color: turquoise;
}

.prdctright {
    width: 1000px;
    height: 1850px;
    background-color: teal;
}

.productstime {
    background-color: #f7f7f7;
    padding: 35px 0px 45px;
}

.prdctleft {
    background-color: white;
}

.prdctleft .leftprdcts {
    width: 280px;
    height: 587px;
    padding: 0 0 0 50px;
}

.prdctleft .leftprdcts .kinds {
    width: 230px;
    height: 47px;
    display: flex;
    padding: 13px 0 0;
    margin: 0 0 15px;
    align-items: center;
    display: flex;
}

.kinds svg {
    width: 16px;
    height: 16px;
}